    #Header {
        background-image: url(./Images/header_bg.jpg);
    }
    
    .navbar-nav {
        flex-direction: row;
        background-origin: initial;
        width: auto;
        padding: 0 auto;
    }
    
    a .navbar-nav {
        color: #FFFFFF;
    }
    
    button {
        text-align: center;
    }
    
    #Ordinateur {
        text-align: center;
        position: fixed;
    }
    
    #Medias {
        background-color: rgb(240, 238, 238);
        background-position-y: center;
    }
    
    .col-row {
        margin-right: 2vh;
        padding: 2vh;
        display: inline-flex;
        text-align: center;
    }
    
    .col-row>.col-icône img {
        width: 40%;
        margin: 5vh;
        padding: 0 auto;
    }
    
    h3 {
        color: rgb(44, 138, 118);
        font-family: Helvetica, Arial, sans-serif, 'Raleway';
        text-align: center;
        padding-top: -80px;
        padding-bottom: 50px;
    }
    /*Troisième section New App*/
    
    #NewApp {
        background-color: #FFFFFF;
        padding-bottom: 40px;
        margin-top: 0%;
        text-align: center;
    }
    
    #Black,
    h2 {
        color: rgb(87, 83, 83);
        margin-top: 0px;
        padding-top: 40px;
        text-align: center;
    }
    
    #NewApp p {
        color: grey;
        padding: 0vh;
        padding-top: 3vh;
    }
    
    #Rond {
        text-align: center;
        padding-top: 20px;
    }